# Verilator build output
obj_dir/

# Auxiliary documents
docs/*

# Simulation artifacts
sim/*.vcd
sim/*.fst
sim/*.lxt

# GTKWave save files
*.gtkw

# Yosys synthesis output
sim/*_synth.v

# Compiled binaries
*.o
*.a
*.so
simv
simv.daidir/

# OS clutter
.DS_Store
Thumbs.db

# Editor clutter
*.swp
*.swo
.vscode/
synth/sky130/

# Whole synth folder
synth/

# Build folder in sw bringup
sw/bringup/build

# Logs of RTL and Spike
scripts/*.log
sw/bringup/build/*.log
